@import './theme.sass'

$margin: 20px

.item-search-container
  padding: $margin
  width: 70%
  border-right: 0.5px solid $lightGrey
  color: $lightGrey

.searchbox
  display: flex
  align-content: center
  color: $lightGrey
  font-size: 1.3rem
  font-family: $secondary-font
  input
    border: none
    margin: 0 $margin
    font-size: 1.1rem
    color: $lightGrey
    outline: none
    &::placeholder
      font-size: 1.1rem

.searchQuery
  color: black
  font-weight: 700
  font-family: $primary-font


.item-search-results
  > div
    padding-top: 0.5em